.nav {
  /* max-width: var(--max-width); */
  width: 100vw;
  height: 80px;
  margin: auto;
  /* padding: 1.5rem 1rem; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  /* overflow: hidden; */
}

ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}

li {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

li:hover {
  color: var(--primary-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.auth {
  width: 200px;
  /* height: 30px; */
  /* margin-left: auto; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.authActions {
  background-color: var(--);
  border-radius: 10px;
  color: var(--white);
}

@media (max-width: 425px) {
  .logo {
    font-size: 1rem;
  }

  ul {
    gap: 1rem;
    margin-left: 10px;
  }

  li {
    font-size: 0.9rem;
  }
}
