.nav {
  max-width: var(--max-width);
  height: 80px;
  margin: auto;
  padding: 1.5rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  overflow: hidden;
}

ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}

li {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

li:hover {
  color: var(--primary-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.auth {
  width: 200px;
  /* height: 30px; */
  /* margin-left: auto; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
