.body {
  height: auto;
  overflow-x: hidden; 
}

.home {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/hammocks-near-pool.jpg);
  background-size: cover;
  background-position: center; 
  text-align: center;
  font-size: 3rem;
  color: white;
}

.amenitiesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; 
}

.amenitiesPic {
  background-image: url(../../../assets/ds1-1-bed-suite-tower.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.homeHeading {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-top: 2rem;
}

.amenitiesType {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 1rem;
  font-size: 1.2rem;
}

.offeringsContainer {
  text-align: center;
  padding: 2rem 0;
}
