.body{
  height: auto;
}

.home {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/hammocks-near-pool.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 3rem;
  /* object-fit:contain; */
}

.amenitiesContainer {
  height: 500px;
  width: 100vw;
  margin-top: 2rem;
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
}

.amenitiesPic {
  background-image: url(../../../assets/ds1-1-bed-suite-tower.jpg);
  background-size: cover;
  height: 300px;
  width: 100%;
}

.homeHeading {
  font-size: 2rem;
  line-height: 1.2;
}

.amenitiesType {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.offeringsContainer {
  text-align: center;
  margin-top: 1rem;
}
