.booking-container {
    width: 320px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    transition: 0.3s ease-in-out;

  }

  .booking-container:hover {
    transform: scale(1.1);
}
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  h2 span {
    font-size: 14px;
    color: var(--text-light);
  }
  
  .date-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .date-box {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  
  .date-box label {
    font-size: 12px;
    color: var(--text-light);
    margin-bottom: 5px;
  }
  
  .date-box input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .guests-section {
    margin-bottom: 10px;
  }
  
  .guests-section label {
    font-size: 12px;
    color: var(--text-light);
    margin-bottom: 5px;
    display: block;
  }
  
  .guests-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .reserve-button {
    width: 100%;
    padding: 12px;
    background-color: var( --primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .reserve-button:hover {
    background-color:  var(--primary-color-dark);
  }
  
  .price-breakdown {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .price-breakdown p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .price-breakdown hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
  }
  