.room-details-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
}

.room-info {
  width: 65%;
}

.image-gallery {
  margin-bottom: 20px;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.room-description h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.room-description p {
  font-size: 16px;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.amenities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-size: 14px;
  color: var(--text-light);
}

.amenities div {
  display: flex;
  align-items: center;
}

.amenities i {
  margin-right: 8px;
}

.booking-section {
  width: 30%;
}

.room-description button {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fav button:hover{
  background-color: var(--primary-color-dark);
}

.icon {
  font-weight: bold;
}

.iconPair {
  display: flex;
  align-items: center;
}

.image-gallery:hover img {
  transform: scale(1.01);
}
